<!DOCTYPE html>
<html>
  <head>
  <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
  </head>
  <body>

<a-scene>
<a-assets>
<img id="skyTexture" src="/static/city.jpg">
</a-assets>
<a-sky src="#skyTexture"></a-sky>
<a-box position="0.5 2.6 -2.5" rotation="45 0 0" color="grey"></a-box>

<a-box position="6 2.4 -4" rotation="0 0 0" color="red"></a-box>
<a-sphere position="-0.5 2.9 -2.4" radius="-.35" color="red"></a-sphere>
<a-plane position="0 2 -2" rotation="-45 0 0" width="2" height="2" color="blue"></a-plane>

</a-scene>


</body>
</html>
