<!DOCTYPE html>
<html>
    <head>
<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
<script src="https://unpkg.com/aframe-event-set-component@3.0.3/dist/aframe-event-set-component.min.js"></script>
    </head>
  <body>
<a-scene>
    <!-- Asset Management System -->

    <a-assets>
    <a-assets-item id="village" src="/static/scene.gltf"></a-assets-item>
    <img id="audi" src="/static/audi.jpg">
    <audio id="honk" src="/static/honk.mp3"></audio>
    </a-assets>
    <a-entity gltf-model="#village"></a-entity>

    <a-entity light="intensity:1.5" position="-20 25 30"></a-entity>
<a-image src="#audi" position="-3.5 1 15" rotation="0 210 0" sound="src:#honk; on:click"></a-image>
    <!-- Sky-->
    <a-entity position="0 0 20">
        <a-camera>
            <a-cursor></a-cursor>
        </a-camera>
    </a-entity>
<a-box color="yellow" width="10" depth="5" height="2" position="40 5 10"
       animation__drive="dur:5000; easing: linear; from:40 5 10; to: -40 5 10; loop: -1; property: position" ></a-box>

<a-box color="blue" width="5" depth="10" height="2" position="0 5 -20"
       animation__drive="dur:5000; easing: linear; from:0 5 -20; to: 0 5 90; loop: -1; property: position" ></a-box>         

 </a-scene>
    </body>
</html>